environment: {{ .Environment.Name }}

certificate:
  enabled: false
mongodb:
  host: mongodb://{{ env "MONGO_USERNAME" | default "username" }}:{{ env "MONGO_PASSWORD" | default "password123" }}@mongodb-replicaset:27017/otv  
